.header__lang-link {
  justify-self: flex-end;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
